# Ignorer les dossiers d'environnement virtuel
websitetest/
env/
venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers de configuration locaux
.DS_Store
.idea/
.vscode/
profile_images/
uploads/